.row {
margin-left: 20% !important;
margin-top: 10%;
height:250px;
width:750px;

}

.a{
    height: 70%;

}
.b{
    height: 30%;
  
}

.text {
    font-size: 120px;
}
.describe{
    font-size: 40px;
}